body {
    max-width: 1170px;
    margin: auto;
}
section {
	padding-top: 40px;
}
p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #737373;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: lowercase;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}
#about .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#about .container p {
	text-align: center;
}
#about .container  .information p {
	text-align: left;
}
#about h1 .color_text {
	color: #ff0036;
}
#about p .color_text {
	color: #ff0036;
}
#about .main-sec {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	padding-top: 70px;
}
#about .information p {
	font-weight: 400;
	padding-bottom: 20px;
}
#about .accordion .card .btn {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color:  #262626;
	text-decoration: none;
}
#about .accordion .card .btn:hover {
	color: #ff0036;
} 
#about .accordion .card .card-body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #737373;
}
#about .bottom_sec {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}
#about .bottom_sec div img:hover {
	 transform: scale(1.25);
}
#about .bottom_sec div h2 {
	padding-top: 20px; 
}
#about .bottom_sec div {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

@media screen and (max-width: 768px) { 
   #about .main-sec {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	padding-top: 70px;
  }
   #about .main-sec div img {
   	width: 100%;
   }
   #about .bottom_sec div img {
   	width: 100%;
   }
   #about .bottom_sec {
   	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
   }
}
@media screen and (max-width: 414px) {
	 #about .bottom_sec {
   	display: grid;
    grid-template-columns: 1fr;
   }
}